In [31]:
import pandas as pd
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", 
 "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", 
 "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", 
 "papaya"]
new_fruits = pd.Series(fruits)
new_fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [3]:
# 1. Determine the number of elements in fruits.
new_fruits.size

17

In [4]:
# 2. Output only the index from fruits.
new_fruits.index

RangeIndex(start=0, stop=17, step=1)

In [105]:
list(new_fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [5]:
# 3. Output only the values from fruits.
new_fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [6]:
# 4. Confirm the data type of the values in fruits.
new_fruits.dtype

dtype('O')

In [109]:
# 5. Output only the first five values from fruits. 
# Output the last three values. Output two random values from fruits.
print(new_fruits.head(5))
print()
print(new_fruits.tail(3))
print()
print(new_fruits.sample(2))

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

14    blackberry
15    gooseberry
16        papaya
dtype: object

14    blackberry
16        papaya
dtype: object

In [8]:
# 6. Run the .describe() on fruits to see what information it returns 
# when called on a Series with string values.
new_fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [9]:
# 7. Run the code necessary to produce only the unique string 
# values from fruits.
new_fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [11]:
# 8. Determine how many times each unique string value occurs in fruits.
new_fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: count, dtype: int64

In [111]:
# 9. Determine the string value that occurs most frequently in fruits.
new_fruits.value_counts().head(1)

kiwi    4
Name: count, dtype: int64

In [112]:
new_fruits.mode()

0    kiwi
dtype: object

In [118]:
# 10. Determine the string value that occurs least frequently in fruits.
new_fruits.sort_values().value_counts().nsmallest(n = 1, keep = 'last')

watermelon    1
Name: count, dtype: int64

In [121]:
new_fruits.sort_values().value_counts().tail(1)

watermelon    1
Name: count, dtype: int64

In [122]:
# Part II.1 Capitalize all the string values in fruits.
new_fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [60]:
# Part II.2 Count the letter "a" in all the string values 
# (use string vectorization).
letter = list('a')
new_fruits.isin(letter).value_counts()

False    17
Name: count, dtype: int64

In [ ]:
for fruit in fruits:
    cnt =

In [63]:
# Part II.3 Output the number of vowels in each and every string value.
vowels = list('aeiou')
new_fruits.isin(vowels).value_counts()

False    17
Name: count, dtype: int64

In [67]:
# Part II.4 Write the code to get the longest string value from fruits.
new_fruits.str.len().max()

16

In [125]:
new_fruits[new_fruits.str.len() == fruits.str.let().max()]

AttributeError: 'list' object has no attribute 'str'

In [ ]:
max(new_fruits)

In [74]:
# Part II.5 Write the code to get the string values with 5 or more
# letters in the name.
new_fruits[new_fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [126]:
# Part II.6 Find the fruit(s) containing the letter "o" two or 
# more times.        
new_fruits[new_fruits.str.lower().str.count('o') >= 2]

6         tomato
15    gooseberry
dtype: object

In [6]:
# Part II.7 Write the code to get only the string values containing the substring "berry".
berry = new_fruits.str.contains('berry')
new_fruits[berry]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [131]:
new_fruits[new_fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [7]:
# Part II.8 Write the code to get only the string values containing the substring "apple".
apple = new_fruits.str.contains('apple')
new_fruits[apple]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [132]:
new_fruits[new_fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [78]:
# Part II.9 Which string value contains the most vowels?
def vowels_list():
    vowels = 'aeiou'
    vowels_list = 0
    for vowels in vowels_list:
        vowels_list += 1
        return vowels_list
new_fruits.apply(vowels_list)

TypeError: vowels_list() takes 0 positional arguments but 1 was given

In [ ]:
def count_vowel(some_word)

In [133]:
new_fruits[new_fruits.str.count('a|e|i|o|u')] == max(new_fruits.str.count('a|e|i|o|u'))

2    False
2    False
2    False
4    False
4    False
5    False
3    False
4    False
3    False
2    False
2    False
2    False
2    False
3    False
2    False
4    False
3    False
dtype: bool

In [148]:
old_letter = [('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')]
letter = pd.Series(old_letter)
letter

0    hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyf...
dtype: object

In [141]:
# Part III 1. Which letter occurs the most frequently in the letters Series?
letter.value_counts()

hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy    1
Name: count, dtype: int64

In [150]:
# Part III 2. Which letter occurs the Least frequently?
letter.value_counts().idmin().upper()

AttributeError: 'Series' object has no attribute 'idmin'

In [144]:
# Part III 3. How many vowels are in the Series?
letter.str.lower().apply(count_vowels).sum()

NameError: name 'count_vowels' is not defined

In [145]:
# Part III 4. How many consonants are in the Series?
def count_vowels(some_word):
    return some_word in list('aeiou')
letter.apply

In [146]:
(~letter.str.lower().apply(count_vowels)).sum()

NameError: name 'count_vowels' is not defined

In [ ]:
# Part III 5. Create a Series that has all of the same letters but uppercased.

In [151]:
# Part III 6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.
sixMost = letters.value_counts().nlargest(n=6)
import matplotlib.pyplot as plt
plt.bar(sixMost.index, sixMost.values)
plt.show()

NameError: name 'letters' is not defined